
/* @author: Abhishek Baghel 
   Date: 03/15/2018
   Player Score Keeper - CSS File (app.css)
   jQuery Version - 3.3.1
*/

.win {
    color: forestgreen;
}

#pOneBtn {
    background: rgb(230, 50, 110);
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
	outline: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

#pTwoBtn {
    background: green;
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
	outline: none;
}

input {
    width: 30%;
	outline: none;
	background: #fff;
}

input:focus {
	border: 3px solid #e9e9e9;
	background: #e8e8e8;
}

#reset {
    background: purple;
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
	outline: none;
}

.container {
    width: 960px;
    margin: 30px auto;
    text-align: center;
}

.won {
    color: white;
    background: blue;
    padding: 5px 20px;
    border-radius: 50px;
}



@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    #pOneBtn,#pTwoBtn,#reset {
        width: 100%;
        margin: 10px 0px;
    }
    input {
        width: 100%;
    }

    .container {
        width: 320px;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }

}